# **K-Means Clustering**

## Pengumpulan Data

### Koneksi dengan Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import Library dan Dataset

In [ ]:
import pandas as pd
import numpy as np
import os
import glob

In [ ]:
#Pilih direktori Tokped
os.chdir("/content/drive/My Drive/Dataset/Laptop_Price_List_Tokopedia/Tokped")

## Pra Pemrosesan Data

### Import Dataset

In [ ]:
df = pd.read_csv('tokped_clean_data5.csv')
df

                                                     name  ...  disk_size
0       Laptop Acer Aspire 3 Celeron N4120 256GB SSD 4...  ...     256 GB
1       LAPTOP ACER ASPIRE 3 A314-21 A4 9120e RAM 4GB ...  ...       1 TB
2       Acer Aspire 3 A314 A4 9120 4GB 1TB W10 14.0 DV...  ...       1 TB
3       PC All In One acer Aspire C24-960 8GB 1TB Core...  ...       1 TB
4       Laptop Acer Aspire 3 - A314-32 - INTEL N4000 D...  ...       1 TB
...                                                   ...  ...        ...
119054  ASUS VIVOBOOK FLIP TM420IA RYZEN 5-4500U 8GB 5...  ...     512 GB
119055  Laptop Asus Vivobook K413FQ i5 8gb 512Gb 14fhd...  ...     512 GB
119056  Asus vivobook A416ma intel N4020 4gb 256gb 14 ...  ...     256 GB
119057  ASUS VIVOBOOK A407UF I5 8250U 4GB 256GB MX130 ...  ...     256 GB
119058  LAPTOP ASUS VIVOBOOK K413EQ I7-1165G7 8GB 512G...  ...     512 GB

[119059 rows x 10 columns]

In [ ]:
df.shape

(119059, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119059 entries, 0 to 119058
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         119059 non-null  object
 1   price        119059 non-null  int64
 2   location     119059 non-null  object
 3   sold         119059 non-null  int64
 4   date         119059 non-null  object
 5   type         119059 non-null  object
 6   merk         119059 non-null  object
 7   prosesor     119059 non-null  object
 8   memory_size  119059 non-null  object
 9   disk_size    119059 non-null  object
dtypes: int64(2), object(8)
memory usage: 9.1+ MB

In [ ]:
# Memeriksa value unik dari setiap kolom
df.nunique()

name           7926
price          2968
location         66
sold            230
date             39
type             49
merk             13
prosesor         25
memory_size       8
disk_size        12
dtype: int64

In [ ]:
tokped = df.drop(['name'], axis=1)
tokped

           price       location  sold  ...       prosesor memory_size disk_size
0        4499000  Jakarta Barat     1  ...  Intel Celeron        6 GB    256 GB
1        3883450       Surabaya     3  ...         AMD A4        4 GB      1 TB
2        3599000  Jakarta Pusat     2  ...         AMD A4        4 GB      1 TB
3        7499900  Jakarta Pusat     3  ...  Intel Core i3        8 GB      1 TB
4        3799000  Jakarta Pusat   118  ...  Intel Celeron        4 GB      1 TB
...          ...            ...   ...  ...            ...         ...       ...
119054  11999000  Jakarta Barat     1  ...    AMD Ryzen 5       12 GB    512 GB
119055  12400000  Jakarta Utara     2  ...  Intel Core i5       12 GB    512 GB
119056   5799000        Bandung     1  ...  Intel Celeron        6 GB    256 GB
119057   9800000    Kab. Bekasi     7  ...  Intel Core i5        6 GB    256 GB
119058  13899000  Jakarta Barat     1  ...  Intel Core i7       12 GB    512 GB

[119059 rows x 9 columns]

In [ ]:
tokped2 = tokped.drop(['date'], axis=1)
tokped2

           price       location  sold  ...       prosesor memory_size disk_size
0        4499000  Jakarta Barat     1  ...  Intel Celeron        6 GB    256 GB
1        3883450       Surabaya     3  ...         AMD A4        4 GB      1 TB
2        3599000  Jakarta Pusat     2  ...         AMD A4        4 GB      1 TB
3        7499900  Jakarta Pusat     3  ...  Intel Core i3        8 GB      1 TB
4        3799000  Jakarta Pusat   118  ...  Intel Celeron        4 GB      1 TB
...          ...            ...   ...  ...            ...         ...       ...
119054  11999000  Jakarta Barat     1  ...    AMD Ryzen 5       12 GB    512 GB
119055  12400000  Jakarta Utara     2  ...  Intel Core i5       12 GB    512 GB
119056   5799000        Bandung     1  ...  Intel Celeron        6 GB    256 GB
119057   9800000    Kab. Bekasi     7  ...  Intel Core i5        6 GB    256 GB
119058  13899000  Jakarta Barat     1  ...  Intel Core i7       12 GB    512 GB

[119059 rows x 8 columns]

In [ ]:
# Melihat nilai unik apa saja yang ada pada kolom memory size
tokped['memory_size'].unique()

array(['6 GB', '4 GB', '8 GB', '12 GB', '16 GB', '2 GB', '32 GB', '20 GB'],
      dtype=object)

In [ ]:
# Melihat nilai unik apa saja yang ada pada kolom disk size
tokped['disk_size'].unique()

array(['256 GB', '1 TB', '512 GB', '500 GB', '128 GB', '2 TB', '240 GB',
       '320 GB', '120 GB', '250 GB', '750 GB', '180 GB'], dtype=object)

In [ ]:
# Melihat nilai unik apa saja yang ada pada kolom disk size
tokped['disk_size'].unique()

array(['256 GB', '1 TB', '512 GB', '500 GB', '128 GB', '2 TB', '240 GB',
       '320 GB', '120 GB', '250 GB', '750 GB', '180 GB'], dtype=object)

## Label Encoding

### Konversi dan Encoding Kolom

Konversi kolom menjadi tipe data kategori terlebih dahulu. Lalu lakukan label encoding pada kolom yang sudah diubah menjadi tipe data kategori

In [ ]:
# Untuk melihat dan menyimpan nilai asli dari setiap data yang sudah dikategorikan
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

#### Kolom `location`

In [ ]:
tokped2["location"] = tokped2["location"].astype('category')

In [ ]:
le.fit(tokped['location'])
le_location = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_location)

{'Balikpapan': 0, 'Bandar Lampung': 1, 'Bandung': 2, 'Banjarmasin': 3, 'Batam': 4, 'Bekasi': 5, 'Bengkulu': 6, 'Binjai': 7, 'Blitar': 8, 'Bogor': 9, 'Denpasar': 10, 'Depok': 11, 'Jakarta Barat': 12, 'Jakarta Pusat': 13, 'Jakarta Selatan': 14, 'Jakarta Timur': 15, 'Jakarta Utara': 16, 'Jambi': 17, 'Kab. Bandung': 18, 'Kab. Bandung Barat': 19, 'Kab. Bangka': 20, 'Kab. Banyumas': 21, 'Kab. Banyuwangi': 22, 'Kab. Batang': 23, 'Kab. Bekasi': 24, 'Kab. Bogor': 25, 'Kab. Deli Serdang': 26, 'Kab. Gianyar': 27, 'Kab. Jember': 28, 'Kab. Karawang': 29, 'Kab. Kediri': 30, 'Kab. Kendal': 31, 'Kab. Kotabaru': 32, 'Kab. Lebak': 33, 'Kab. Malang': 34, 'Kab. Pasuruan': 35, 'Kab. Pati': 36, 'Kab. Pekalongan': 37, 'Kab. Purworejo': 38, 'Kab. Sidoarjo': 39, 'Kab. Sleman': 40, 'Kab. Tangerang': 41, 'Kediri': 42, 'Magelang': 43, 'Makassar': 44, 'Malang': 45, 'Manado': 46, 'Mataram': 47, 'Medan': 48, 'Mojokerto': 49, 'Padang': 50, 'Palembang': 51, 'Pasuruan': 52, 'Pekanbaru': 53, 'Pontianak': 54, 'Salatiga': 55, 'Samarinda': 56, 'Semarang': 57, 'Serang': 58, 'Singkawang': 59, 'Surabaya': 60, 'Surakarta': 61, 'Tangerang': 62, 'Tangerang Selatan': 63, 'Tasikmalaya': 64, 'Yogyakarta': 65}

In [ ]:
tokped2["location_cat"] = tokped2["location"].cat.codes

#### Kolom `sold`

In [ ]:
tokped2["sold"] = tokped2["sold"].astype('category')

In [ ]:
le.fit(tokped['sold'])
le_sold = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_sold)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16, 18: 17, 19: 18, 20: 19, 21: 20, 22: 21, 23: 22, 24: 23, 25: 24, 26: 25, 27: 26, 28: 27, 29: 28, 30: 29, 31: 30, 32: 31, 33: 32, 34: 33, 35: 34, 36: 35, 37: 36, 38: 37, 39: 38, 40: 39, 41: 40, 42: 41, 43: 42, 44: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 61: 60, 62: 61, 63: 62, 64: 63, 65: 64, 66: 65, 68: 66, 69: 67, 70: 68, 71: 69, 72: 70, 73: 71, 74: 72, 75: 73, 76: 74, 77: 75, 78: 76, 79: 77, 80: 78, 81: 79, 82: 80, 83: 81, 84: 82, 85: 83, 86: 84, 87: 85, 88: 86, 89: 87, 90: 88, 91: 89, 92: 90, 93: 91, 94: 92, 95: 93, 96: 94, 97: 95, 98: 96, 99: 97, 100: 98, 101: 99, 102: 100, 103: 101, 104: 102, 105: 103, 106: 104, 108: 105, 109: 106, 112: 107, 114: 108, 115: 109, 116: 110, 117: 111, 118: 112, 119: 113, 120: 114, 121: 115, 122: 116, 123: 117, 124: 118, 125: 119, 126: 120, 127: 121, 128: 122, 129: 123, 130: 124, 131: 125, 132: 126, 133: 127, 134: 128, 136: 129, 137: 130, 138: 131, 140: 132, 141: 133, 142: 134, 143: 135, 144: 136, 145: 137, 146: 138, 147: 139, 148: 140, 149: 141, 150: 142, 151: 143, 152: 144, 153: 145, 155: 146, 156: 147, 157: 148, 161: 149, 166: 150, 169: 151, 170: 152, 171: 153, 172: 154, 173: 155, 174: 156, 175: 157, 176: 158, 178: 159, 179: 160, 180: 161, 182: 162, 183: 163, 184: 164, 190: 165, 191: 166, 192: 167, 194: 168, 195: 169, 196: 170, 197: 171, 198: 172, 200: 173, 201: 174, 202: 175, 203: 176, 204: 177, 205: 178, 206: 179, 210: 180, 212: 181, 219: 182, 220: 183, 224: 184, 230: 185, 233: 186, 234: 187, 235: 188, 236: 189, 238: 190, 240: 191, 241: 192, 244: 193, 245: 194, 261: 195, 262: 196, 265: 197, 266: 198, 270: 199, 272: 200, 397: 201, 398: 202, 399: 203, 401: 204, 404: 205, 406: 206, 407: 207, 408: 208, 409: 209, 436: 210, 437: 211, 442: 212, 444: 213, 445: 214, 446: 215, 447: 216, 448: 217, 449: 218, 454: 219, 462: 220, 463: 221, 469: 222, 470: 223, 471: 224, 475: 225, 478: 226, 555: 227, 562: 228, 1000: 229}

In [ ]:
tokped2["sold_cat"] = tokped2["sold"].cat.codes

#### Kolom `type`

In [ ]:
tokped2["type"] = tokped2["type"].astype('category')

In [ ]:
le.fit(tokped['type'])
le_type = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_type)

{'11': 0, '14': 1, '15': 2, '240': 3, '245': 4, 'Alpha': 5, 'Aspire': 6, 'Blade': 7, 'Bravo': 8, 'Dynabook': 9, 'Elitebook': 10, 'Envy': 11, 'G5': 12, 'GF63': 13, 'GF65': 14, 'GL65': 15, 'GPD Win': 16, 'Ideapad': 17, 'Inspiron': 18, 'Latitude': 19, 'Legion': 20, 'Lifebook': 21, 'Macbook Air': 22, 'Macbook Pro': 23, 'Matebook': 24, 'Mi Gaming': 25, 'Modern': 26, 'Nitro': 27, 'Omen': 28, 'Pavilion': 29, 'Portege': 30, 'Precision': 31, 'Predator': 32, 'Prestige': 33, 'Probook': 34, 'ROG': 35, 'Spectre': 36, 'Swift': 37, 'TUF': 38, 'Thinkbook': 39, 'Thinkpad': 40, 'TravelMate': 41, 'V14': 42, 'V15': 43, 'Vivobook': 44, 'Vostro': 45, 'XPS': 46, 'Yoga': 47, 'Zenbook': 48}

In [ ]:
tokped2["type_cat"] = tokped2["type"].cat.codes

#### Kolom `merk`

In [ ]:
tokped2["merk"] = tokped2["merk"].astype('category')

In [ ]:
le.fit(tokped['merk'])
le_merk = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_merk)

{'Acer': 0, 'Apple': 1, 'Asus': 2, 'Dell': 3, 'Fujitsu': 4, 'GPD': 5, 'HP': 6, 'Huawei': 7, 'Lenovo': 8, 'MSI': 9, 'Razer': 10, 'Toshiba': 11, 'Xiaomi': 12}

In [ ]:
tokped2["merk_cat"] = tokped2["merk"].cat.codes

#### Kolom `prosesor`

In [ ]:
tokped2["prosesor"] = tokped2["prosesor"].astype('category')

In [ ]:
le.fit(tokped['prosesor'])
le_prosesor = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_prosesor)

{'AMD 3020': 0, 'AMD 3050': 1, 'AMD A10': 2, 'AMD A12': 3, 'AMD A4': 4, 'AMD A6': 5, 'AMD A8': 6, 'AMD A9': 7, 'AMD E2': 8, 'AMD Ryzen 3': 9, 'AMD Ryzen 5': 10, 'AMD Ryzen 7': 11, 'AMD Ryzen 9': 12, 'Intel Athlon': 13, 'Intel Celeron': 14, 'Intel Core M3': 15, 'Intel Core M5': 16, 'Intel Core i3': 17, 'Intel Core i5': 18, 'Intel Core i7': 19, 'Intel Core i9': 20, 'Intel Dual Core': 21, 'Intel Pentium Gold': 22, 'Intel Pentium Silver': 23, 'Intel Quad Core': 24}

In [ ]:
tokped2["prosesor_cat"] = tokped2["prosesor"].cat.codes

#### Kolom `memory_size`

In [ ]:
tokped2["memory_size"] = tokped2["memory_size"].astype('category')

In [ ]:
tokped2['mem_size_cat'] = tokped2['memory_size'].map({'2 GB': 0, '4 GB': 1, '6 GB': 2, '8 GB': 3, '12 GB': 4, '16 GB': 5, '20 GB': 6, '32 GB':7})

#### Kolom `disk_size`

In [ ]:
tokped2["disk_size"] = tokped2["disk_size"].astype('category')

In [ ]:
tokped2['disk_size_cat'] = tokped2['disk_size'].map({'120 GB': 0, '128 TB': 1, '180 GB': 2, '240 GB': 3, '250 GB': 4, '256 GB': 5, '320 TB': 6, '500 GB': 7,
       '512 GB': 8, '750 GB': 9, '1 TB': 10, '2 TB': 11})

### Buang kolom yang tidak perlu

In [ ]:
tokped2

           price       location sold  ... prosesor_cat mem_size_cat disk_size_cat
0        4499000  Jakarta Barat    1  ...           14            2           5.0
1        3883450       Surabaya    3  ...            4            1          10.0
2        3599000  Jakarta Pusat    2  ...            4            1          10.0
3        7499900  Jakarta Pusat    3  ...           17            3          10.0
4        3799000  Jakarta Pusat  118  ...           14            1          10.0
...          ...            ...  ...  ...          ...          ...           ...
119054  11999000  Jakarta Barat    1  ...           10            4           8.0
119055  12400000  Jakarta Utara    2  ...           18            4           8.0
119056   5799000        Bandung    1  ...           14            2           5.0
119057   9800000    Kab. Bekasi    7  ...           18            2           5.0
119058  13899000  Jakarta Barat    1  ...           19            4           8.0

[119059 rows x 15 columns]

Membuang kolom-kolom yang tidak dilabel encoding

In [ ]:
tokped3 = tokped2.drop(['location','sold','type','merk','prosesor','memory_size','disk_size'], axis=1)
tokped3

           price  location_cat  ...  mem_size_cat  disk_size_cat
0        4499000            12  ...             2            5.0
1        3883450            60  ...             1           10.0
2        3599000            13  ...             1           10.0
3        7499900            13  ...             3           10.0
4        3799000            13  ...             1           10.0
...          ...           ...  ...           ...            ...
119054  11999000            12  ...             4            8.0
119055  12400000            16  ...             4            8.0
119056   5799000             2  ...             2            5.0
119057   9800000            24  ...             2            5.0
119058  13899000            12  ...             4            8.0

[119059 rows x 8 columns]

In [ ]:
#tokped3['disk_size_cat'] = tokped3['disk_size_cat'].astype(int)
tokped3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119059 entries, 0 to 119058
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   price          119059 non-null  int64
 1   location_cat   119059 non-null  int8
 2   sold_cat       119059 non-null  int16
 3   type_cat       119059 non-null  int8
 4   merk_cat       119059 non-null  int8
 5   prosesor_cat   119059 non-null  int8
 6   mem_size_cat   119059 non-null  category
 7   disk_size_cat  117767 non-null  float64
dtypes: category(1), float64(1), int16(1), int64(1), int8(4)
memory usage: 2.6 MB

Ada value yang null atau nan pada kolom `disk_size_cat`. Perlu direplace dengan nilai lain agar bisa diubah menjadi integer.

In [ ]:
tokped3['disk_size_cat'].isnull().values.any()

True

In [ ]:
tokped3['disk_size_cat'].isnull().sum()

1292

In [ ]:
tokped3['disk_size_cat'] = tokped3['disk_size_cat'].fillna(12)

In [ ]:
tokped3['disk_size_cat'] = tokped3['disk_size_cat'].astype(int)

In [ ]:
tokped3

           price  location_cat  ...  mem_size_cat  disk_size_cat
0        4499000            12  ...             2              5
1        3883450            60  ...             1             10
2        3599000            13  ...             1             10
3        7499900            13  ...             3             10
4        3799000            13  ...             1             10
...          ...           ...  ...           ...            ...
119054  11999000            12  ...             4              8
119055  12400000            16  ...             4              8
119056   5799000             2  ...             2              5
119057   9800000            24  ...             2              5
119058  13899000            12  ...             4              8

[119059 rows x 8 columns]

Mengkonversi nilai pada `price` ke dalam bentuk kategori rentang nilai.

In [ ]:
criteria = [tokped3['price'].between(2199000, 7354600),
            tokped3['price'].between(7354601, 12510200),
            tokped3['price'].between(12510201, 17665800),
            tokped3['price'].between(17665801, 22821400),
            tokped3['price'].between(22821401, 27977000),
            tokped3['price'].between(27977001, 33132600),
            tokped3['price'].between(33132601, 38288200),
            tokped3['price'].between(38288201, 43443800),
            tokped3['price'].between(43443801, 48599400),
            tokped3['price'].between(48599401, 53755000),
            tokped3['price'].between(53755001, 58910600),
            tokped3['price'].between(58910601, 64066200),
            tokped3['price'].between(64066201, 69221800),
            tokped3['price'].between(69221801, 74377400),
            tokped3['price'].between(74377401, 79533000),
            tokped3['price'].between(79533001, 84688600),
            tokped3['price'].between(84688601, 89844200),
            tokped3['price'].between(89844201, 94999800)]
values = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

tokped3['price_cat'] = np.select(criteria, values, 0)

In [ ]:
tokped3

           price  location_cat  sold_cat  ...  mem_size_cat  disk_size_cat  price_cat
0        4499000            12         0  ...             2              5          0
1        3883450            60         2  ...             1             10          0
2        3599000            13         1  ...             1             10          0
3        7499900            13         2  ...             3             10          1
4        3799000            13       112  ...             1             10          0
...          ...           ...       ...  ...           ...            ...        ...
119054  11999000            12         0  ...             4              8          1
119055  12400000            16         1  ...             4              8          1
119056   5799000             2         0  ...             2              5          0
119057   9800000            24         6  ...             2              5          1
119058  13899000            12         0  ...             4              8          2

[119059 rows x 9 columns]

In [ ]:
tokped3['price_cat'].unique()

array([ 0,  1,  2,  3,  4,  7,  5,  9,  6, 10, 17, 12,  8, 13, 11, 16])

Membuang kolom `price` yang lama dan menyisakan kolom `price_cat` yang sudah dalam bentuk kategori

In [ ]:
tokped4 = tokped3.drop(['price'], axis=1)
tokped4

        location_cat  sold_cat  type_cat  ...  mem_size_cat  disk_size_cat price_cat
0                 12         0         6  ...             2              5         0
1                 60         2         6  ...             1             10         0
2                 13         1         6  ...             1             10         0
3                 13         2         6  ...             3             10         1
4                 13       112         6  ...             1             10         0
...              ...       ...       ...  ...           ...            ...       ...
119054            12         0        44  ...             4              8         1
119055            16         1        44  ...             4              8         1
119056             2         0        44  ...             2              5         0
119057            24         6        44  ...             2              5         1
119058            12         0        44  ...             4              8         2

[119059 rows x 8 columns]

In [ ]:
tokped4.to_csv('tokped_encode2.csv', encoding='utf-8', index=False)